/* main.css
======================================= */

body.lang-ru {
	#prize-meter {
		.header.clear {
			.intro {
				padding: 15px 0 0 0;
				@media (min-width:1024px) {
					padding: 15px 0 60px 0;
				}
				.line1 {
					font-size: 12px;
				}
				.line3 {
					font-size: 26px;
					padding-bottom: 15px;
				}
			}
			.total {
				.number {
					top: 17px;
					@media (min-width:1024px) {
						top: 90px;
					}
				}
				.icon {
					top: 5px;
					@media (min-width:1024px) {
						top: 138px;
					}
				}
			}
		}
	}
}

body.lang-cn {
	#prize-meter {
		.header.clear {
			.intro {
				padding: 15px 0 0 0;
				@media (min-width:1024px) {
					padding: 15px 0 50px 0;
				}
				.line3 {
					padding-bottom: 10px;
					margin-top: -10px
				}
			}
			.total {
				top: 17px;
					@media (min-width:1024px) {
						top: 102px;
					}
				top: 7px;
					@media (min-width:1024px) {
						top: 150px;
					}
			}
		}
	}
}

body.lang-br {
	#prize-meter {
		.header.clear {
			.intro {
				padding: 15px 0 0 0;
				@media (min-width:1024px) {
					padding: 15px 0 65px 0;
				}
				.line3 {
					padding-bottom: 10px;
					font-size: 27px;
				}
			}
			.total {
				.number {
					top: 13px;
					@media (min-width:1024px) {
						top: 76px;
					}
				}
				.icon {
					top: 5px;
					@media (min-width:1024px) {
					top: 125px;
					}
				}
			}
		}
	}
}

body.lang-es {
	#prize-meter {
		.header.clear {
			.intro {
				padding: 15px 0 0 0;
				@media (min-width:1024px) {
					padding: 15px 0 60px 0;
				}
				.line3 {
					padding-bottom: 10px;
					font-size: 32px;
				}
			}
			.total {
				.number {
					top: 13px;
					@media (min-width:1024px) {
						top: 97px;
					}
				}
				.icon {
					top: 0px;
					@media (min-width:1024px) {
					top: 145px;
					}
				}
			}
		}
	}
}

body.lang-de {
	#prize-meter {
		.header.clear {
			.intro {
				padding: 15px 0 0 0;
				@media (min-width:1024px) {
					padding: 15px 0 60px 0;
				}
				.line3 {
					padding-bottom: 10px;
					font-size: 32px;
				}
			}
			.total {
				.number {
					top: 13px;
					@media (min-width:1024px) {
						top: 80px;
					}
				}
				.icon {
					top: 0px;
					@media (min-width:1024px) {
					top: 127px;
					}
				}
			}
		}
	}
}



body
{
	font-family: 'Open Sans', 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	background-color: #000;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	
	
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

@media (min-width:1024px) {
	body {
		background-image: url('../img/background.jpg');
	}
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear: both;
}

.clear {
	zoom: 1; /* ie 6/7 */
}

a
{
	text-decoration: none;
	cursor:pointer;
	color:#76b900;
}


body.lang-cn
{
	font-family: sans-serif;
}

.mobile-bg-cover {
	background-color:#000;	
	display:block;
	margin-top: 0px; 
	@media (min-width: 375px) {
	}
	@media (min-width: 1024px) {
		margin-top: 45%;
	}
	@media (min-width: 1024px) {
		margin: 0;
	}
}


/* scrollbar
===================================================== */

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: #eaeaea; border-left: 1px solid #ccc; }
::-webkit-scrollbar-thumb { background-color: #999; }
::-webkit-scrollbar-thumb:hover { background-color: #666; }


/* Official Rules
===================================================== */

#official_rules {
	padding: 40px;
	height: auto;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.container {
		max-width: 600px;
		margin: auto;
		color: #fff;
		margin-bottom: 100px;
		a {
			color: #fff;
			text-decoration: underline;
		}
	}
}

/* Location
===================================================== */

#location {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 999;
	.current {
		svg {
			width: 30px;
			height: 20px;
		}
	}
	.menu {
		visibility: hidden;
		opacity: 0;
		transform: scaleY( 0 );
		transform-origin: 0 0;
		width: 220px;
		position: absolute; top: 100%; left: -5px;
		margin-top: 10px;
		z-index: 999;
		background-color: #373737;
		padding: 10px;
		border-radius: 5px;
		transition: all 200ms ease;
		.btn-close {
			display: none;
		}
		.option {
			display: block;
			color: #ddd;
			position: relative;
			padding: 10px 10px 10px 48px;
			font-family: GeForce, sans-serif;
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 1px;
			transition: all 200ms ease;
			border-radius: 3px;
			.flag {
				position: absolute; top: 8px; left: 6px;
				width: 30px; height: 17px;
			}
			&:hover {
				background-color: #76b900;
			}
		}
	}
	&.open .menu {
		visibility: visible;
		opacity: 1;
		transform: scaleY( 1 );
		overflow: scroll;
		@media (min-width:1024px) {
			overflow:hidden;
		}
	}
}



/* Main Intro
===================================================== */
#main-intro {
	width:100%;
	width: 100vw;
	height: auto;
	@media (min-width: 1025px) {
		width: 45%;
		float:left;
	}
	.holder {
		padding: 40px 4%;
		
		.header-tagline {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			margin-top: 7%;
			padding: 0 2%;
			@media (min-width: 375px) {
				margin-top: 15%;
			}
			@media (min-width: 414px) {
				margin-top: 17%;
			}
			@media (min-width: 768px) {
				margin-top: 5%;
			}
			
				.main-callout {
					color: #76b900;
					font-family: GeForce, sans-serif;
					font-weight: bold;
					font-size: 24px;
					padding: 0;
					@media (min-width:375px) {
						font-size:28px;
						padding-bottom:5px;
					}
					@media (min-width:768px) {
						font-size:40px;
						padding-bottom:10px;
					}
				}
				.sub-callout {
					color:#eeeeee;
					font-family: GeForceLight, sans-serif;
					font-size: 17px;
					padding-bottom:15px;
					@media (min-width:375px) {
						font-size:21px;
						padding-bottom:25px;
					}
					@media (min-width:768px) {
						font-size: 31px;
						max-width: 510px;
						margin: 0 auto;
						padding-bottom:30px;
					}
				}
			}
		.tournament-info {
			text-align:center;
			width:100%;
			position: relative;
			max-width:720px;
			margin: 0 auto;
			margin-top: 30px;
			img {
				width:100%;
				padding: 0;
				@media (min-width:768px) {
				   max-width: 420px;
				}
				
			}
			.line1 {
				font-family: GeForce, sans-serif;
				font-weight: bold;
				color: #ffffff;
				font-size: 16px;
				padding-bottom:14px;
				line-height: 21px;
				text-transform: uppercase;
				margin-top: 30px;
				@media (min-width: 375px) {
					line-height: 23px;
					font-size: 18px;
					margin-top: 60px;
				}
				@media (min-width: 414px) {
					font-size: 20px;
				}
				@media (min-width:768px) {
					padding: 0 7%;
					line-height: 30px;
					font-size: 25px;
					margin-top: 70px;
				}
				@media (min-width:1700px) {
					padding: 0 8%;
				}
			}
			.line2 {
				color: #b6b6b6;
				font-size: 13px;
			    padding: 0 10px;
				@media (min-width: 414px) {
					font-size: 15px;
				}
				@media (min-width:768px) {
					padding: 15px 10%;
					font-size: 16px;
				}
			}
		}
	}
}


/* Brackets
===================================================== */

#brackets {
	position: relative;
	width: 35%;
	margin-right: 216px; margin-top: 45px;
	float: right;
	padding-bottom: 100px;
	.brackets-title {
		position: absolute; top: 0; left: 0;
		.title {
			font-family: GeForce, sans-serif;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
		}
		.line {
			background-color: #76b900;
			width: 20px; height: 2px;
			position: absolute; bottom: 4px; left: 0;
		}
	}
	.bracket-group {
		.group-title {
			font-family: GeForce, sans-serif;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			color: #76b900;
			text-align: right;
			margin-bottom: 10px;
		}
		.match-entry {
			margin-bottom: 20px;
			position: relative;
			.date {
				color: #a4a4a4;
				text-transform: uppercase;
				font-family: GeForceLight, sans-serif;
				font-size: 13px;
				text-align: right;
				letter-spacing: 1px;
				margin-bottom: 20px;
			}
			.teambox {
				width: 50%;
				float: left;
				margin-bottom: 5px;
			}
 			.teambox:first-child {
				padding-right: 2px;
			}
			.teambox:last-child {
				padding-left: 2px;
			}
			.versus {
				width: 40px;
				height: 40px;
				border-radius: 100px;
				position: absolute;
				top: 100px;
				left: 53%;
				z-index: 99;
				margin-left: -30px;
				background-color: #fff;
				color: #000;
				text-align: center;
				font-size: 13px;
				font-family: GeForce, sans-serif;
				font-weight: bold;
				letter-spacing: 2px;
				padding-top: 13px;
				padding-left: 1px;
			}
		}
	}
	.teambox-inside {
		background-color: #fff;
		width: 100%; height: 100%;
		min-height: 425px;
		.photo {
			padding: 4px 4px 0px 4px;
			.thumbnail {
				width: 100%; height: 131px;
				background-size: cover;
			}
		}
		.info {
			position: relative;
			padding: 25px 0 25px 115px;
			.logo {
				position: absolute;
				top: 0px;
				right: 100%;
				margin-right: 20px;
				width:100%;	
				@media (min-width: 768px) {
					float: left;
					margin-left: -92px;
					position: initial;
					width: auto;
				}
				img { max-height: 56px; }
			}
			.content {
				border-left: 1px solid #cccccc;
				padding: 5px 0 5px 15px;
				position: relative;
				min-height: 71px;
			}
			.number {
				    display: inline-block;
					font-size: 35px;
					line-height: 25px;
					color: #76b900;
					font-family: GeForce, sans-serif;
					font-weight: bold;
					margin-bottom: 6px;
					width: 100%;
					position: relative;
					span.num {
						display:inline-block;	
						@media (min-width:768px) {
							float:left;
						}
					}
				.icon {
					position:relative;
					padding: 0 0 0 7px;
					@media (min-width:768px) {
						float:left;
					}
					svg { width: 28px; height: 22px; }
					svg * { fill: #dddddd; }
				}
			}
			.hashtags {
				color: #000;
				font-family: GeForce, sans-serif;
				text-transform: uppercase;
				display:none;
				@media (min-width:768px) {
						display:block;
						padding-right: 230px;
					}
				span { display: inline-block; margin-right: 6px; }
			}
		}
		.tweets {
			background-color: #f0f0f0;
			border-top: 1px solid #e5e5e5;
			.entry {
				border-bottom: 1px solid #e5e5e5;
				padding: 15px 16px 15px 47px;
				position: relative;
				min-height: 102px;
				.icon {
					position: absolute; top: 15px; left: 15px;
					display: inline-block;
					svg { width: 20px; }
					svg * { fill: #c8c8c8; }
				}
				.meta {
					text-transform: uppercase;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					.name { 
						display: inline-block;
						color: #000;
						font-size: 13px;
						font-weight: bold;
						margin-right: 6px;
						font-family: GeForce, sans-serif; 
					}
					.screen_name { 
						display: inline-block;
						color: #979797;
						font-size: 13px;
						font-family: GeForceLight, sans-serif;
					}
				}
				.content {
					font-size: 12px;
					color: #000000;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					a {
						color: #1b95e0;
						text-decoration: none;
					}
					a:hover { 
						text-decoration: underline;
					}
				}
			}
		}
		.bottom {
			padding: 0px;
			.button {
				background: #73b400;
				background: -moz-linear-gradient(top,  #73b400 0%, #69a500 100%);
				background: -webkit-linear-gradient(top,  #73b400 0%,#69a500 100%);
				background: linear-gradient(to bottom,  #73b400 0%,#69a500 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b400', endColorstr='#69a500',GradientType=0 );
				display: block;
				text-align: center;
				color: #fff;
				position: relative;
				font-family: "Fjalla One", Helvetica, Arial, sans-serif;
				font-weight: bold;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				-webkit-font-smoothing: subpixel-antialiased;
				font-smooth: always;
				font-size: 14px;
				letter-spacing: 2px;
				text-transform: uppercase;
				padding: 20px 20px;
				transition: all 200ms ease;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				.icon {
					position: relative;
					display: inline-block;
					top: 2px;
					margin-right: 10px;
					svg { width: 13px; height: 13px; }
					svg * { fill: #fff; }
				}

				&:hover {
					background-color: lighten( #73b400, 5% );
				}
			}
		}
	}
}
/***** BRACKETS DESKTOP ******/
@media (min-width:1024px) {
	#brackets {
		position: relative;
		float: left;
		width:40%;
		padding-bottom: 100px;	
		margin: 0 auto;
		margin-top:50px;
		.brackets-title {
			.line {
				background-color: #76b900;
				width: 20px;
				height: 3px;
				position: absolute;
				bottom: -8px;
				left: 0;	
			}
		}
		.bracket-group {
				.group-title {
					margin-bottom: 0px;	
				}
			.match-entry {
				.versus {
					width: 60px;
					height: 60px;
					border-radius: 100px;
					position: absolute;
					top: 191px;
					left: 50%;
					z-index: 99;
					margin-left: -30px;
					background-color: black;
					color: white;
					text-align: center;
					font-size: 17px;
					font-family: GeForce, sans-serif;
					font-weight: bold;
					letter-spacing: 2px;
					padding:21px 0 0 2px;
				}
				.team-cards {
						.teambox-inside {
							.inside {
								.info {
									.logo {
										right: 50px;
									}
									.number {
										span.num {
											float:left;
										}
										.icon {
											margin-top: -2px;
											float:left;
										}
									}
									.content {
									.hashtags {
										display:block;	
										}
									}
								}
							}
							.bottom {
								padding:4px;
								.button {
									width: 100%;	
								}
							}
						}
					}
				}
			}		
		}	
	}
	/* Prize Meter Mobile */
	
	/* Prize Meter Tablet */
	


/* Prize Meeter
===================================================== */

#prize-meter {
	width: 156px;
	height: 100%;
	background-color: #f0f0f0;
	position: fixed; 
	top: 0; 
	right: 0;
	.intro {
		text-transform: uppercase;
		span.round-type {
			font-weight:regular;	
			font-size:32px;
		}

		.line1 {
			font-family: GeForce, sans-serif;
			font-weight: bold;
			font-size: 18px;
			color: #76b900;
		}
		.line2 {
			font-family: GeForceLight, sans-serif;
			color: #fff;
			font-size: 15px;
			display:block;
			text-align: center;
			@media (max-width: 1024px) {
				display: block;
				text-align: left;
			}
		} 
		.line3 {
			font-family: GeForceLight, sans-serif;
			color: #fff;
			font-size: 30px;
			width: 121px;
			text-align: left;
				@media (min-width: 1024px) {
					width: auto;
					font-size: 46px;
					text-align: center;
				}
			}
		}
	.total {
		.number {
			font-family: GeForce, sans-serif;
			font-weight: bold;
			font-size: 20px;
			color: #fff;
			background-color: #000000;
			padding: 0;
			position: absolute;
			right: 55px;
			top: 16px;
			@media (min-width: 1024px) {
				padding: 20px;
				width: 100%;
				right: 0;
				top: 93px;
			}
		}
		.icon {
			position: absolute;
			top: 140px;
			left: 50%;
			margin-left: -15px;
			width: 30px;
			z-index: 20;
			svg {
				width: 100%;
			}
			svg * {
				fill: #76b900;
			}
		}
	}
}

/* Copyright
===================================================== */

#copyright
{
	max-height: 50px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    z-index: 9999;
	position: relative;
    text-align: center;
    padding: 20px 20px;
    bottom: auto;
    left: auto;
    font-size: 10px;
    color: #999999;
	a {
		color:#999;	
		text-transform: uppercase;
    	text-decoration: underline;
	}
}

/* Tablet BRACKETS
===================================================== */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	
	#brackets {
		.teambox-inside {
			.info {
				.hashtags {
					display:block;	
				    padding-right: 230px;
				}
				.logo {
					right:23%;	
				}
				.number {
					.icon {
						margin-top:-2px;
					}
				}
			}
			.bottom {
				.button {
					width: 100%;	
				}
			}
		}
		.bracket-group {
			.match-entry {
				.versus {
					width: 60px;
					height: 60px;
					border-radius: 100px;
					position: absolute;
					top: 200px;
					left: 50%;
					z-index: 99;
					margin-left: -30px;
					background-color: black;
					color: white;
					text-align: center;
					font-size: 19px;
					font-family: GeForce, sans-serif;
					font-weight: bold;
					letter-spacing: 2px;
					padding-top: 20px;
					padding-left: 1px;	
				}
			}
		}
	}
} /* END MEDIA QUERY */



/* Desktop Prize Meter
===================================================== */
@media (min-width : 1024px) { 

	
	#prize-meter {
		.follow-nvidia {
			display:none;
			}
		}
	#copyright {
		position: relative;
		bottom: 30px;
		left: 20px;
		font-size: 10px;
		color: #999;
		float:left;
		text-align:left;
	}	
} /* END MEDIA QUERY */


@media (min-width:1024px) {
	.graphics-card-callout-mobile { 
		display:none;
	}
}


/* Meter Animaton
===================================================== */

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to
  {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn
{
  from, 20%, 40%, 60%, 80%, to
  {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}




/* Meter Desktop
===================================================== */
#prize-meter {
	.header {
		text-align: center;
		.intro {
			background-color: #373737;
			padding: 15px 0;
			@media (min-width: 1024px) {
				padding: 15px 0 70px 0;
			}
		}
	}
}
#prize-meter .meter {
	position: relative;
	background: transparent url('../img/ticks.gif') repeat-y 50% 0;
	min-height: 388px;
	overflow: hidden;
	margin-top:0;
	.top-cover {
		position: absolute; top: 0; left: 0; z-index: 0;
		width: 100%; height: 50px;
		background-color: #f0f0f0;
	}
	.bottom-cover {
		position: absolute; bottom: 0; left: 0; z-index: 0;
		width: 100%; height: 50px;
		background-color: #f0f0f0;
	}
	.padding {
		height: 100%;
		padding: 37px 0 10px 0;
	}
	.inside {
		position: relative;
		height: 100%;
	}
	.progress-bg {
		width: 8px; height: 100%;
		background-color: #e4e4e4;
		position: absolute; top: 0; left: 50%;
		margin-left: -4px;
		z-index: 1;
	}
	.progress-green {
		width: 2px; height: 0%;
		background-color: #70af00;
		position: absolute; bottom: 3px; left: 50%;
		margin-left: -1px;
		z-index: 9;
		transition: all 2000ms linear;
	}
	.dot {
		position: absolute; left: 50%;
		width: 18px; height: 18px;
		background-color: #e4e4e4;
		border-radius: 100px;
		margin-left: -9px;
	}
	.dot-green {
		position: absolute; left: 50%;
		width: 10px; height: 10px;
		background-color: #70af00;
		border-radius: 100px;
		margin-left: -5px;
		z-index: 9;
		display: none;
	}
	.dot-1.dot-green { top: -8px; }
	.dot-1.dot-grey { top: -12px; }
	.dot-2.dot-green { top: 0%; margin-top: 4px; }
	.dot-2.dot-grey { top: 0%; }
	.dot-3.dot-green { top: 45%; margin-top: 4px; }
	.dot-3.dot-grey { top: 45%; }
	.dot-4.dot-green { bottom: 49px; }
	.dot-4.dot-grey { bottom: 45px; }
	.prize {
		position: absolute; right: 100%; top: -20px; z-index: 10;
		margin-right: 6px;
		text-align: right;
		color: #939393;
		text-transform: uppercase;
		font-family: "Fjalla One", Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		width: 50px;
		background-color: #f0f0f0;
		padding: 6px 0;
		transition: all 200ms ease;
	}
	.tweets {
		position: absolute; left: 100%; top: -16px; z-index: 10;
		margin-left: 6px;
		text-align: left;
		color: #939393;
		text-transform: uppercase;
		font-family: "Fjalla One", Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		width: 50px;
		background-color: #f0f0f0;
		padding: 6px 0;
		.label {
			font-family: GeForceLite, sans-serif;
			font-size: 10px;
			color: #a7a7a7;
			margin-bottom: 0px;
			line-height: 10px;
		}
		.number {
			font-family: GeForce, sans-serif;
			font-weight: bold;
			font-size: 15px;
			color: #000;
		}
	}
	.dot-1 {
		.prize {
			top: -4px;
		}
		.tweets {
			top: -4px;
		}
	}
	.dot-green.showit {
		display: block;
		-webkit-animation-name: bounceIn;
		animation-name: bounceIn;
		-webkit-animation-duration: 800ms;
		animation-duration: 800ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	.dot-grey.showit {
		.prize {
			color: #76b900;
		}
	}
}


/* Meter Mobile
===================================================== */

#prize-meter .meter-mobile
{
	display: none;
	position: relative;
	height: 190px;
	overflow: hidden;
	overflow-x: auto;
	border-bottom: 1px solid #000;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: #eaeaea;
		border-left: 1px solid #ccc;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ccc;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: #aaa;
	}
	.padding {
		height: 160px;
		width: 1020px;
		padding: 0;
		position: relative;
		background: transparent url('../img/mobile/ticks.gif') repeat-x 5px 50%;
	}
	.top-cover {
		position: absolute; top: 0; left: 0; z-index: 99;
		width: 18px; height: 100%;
		background-color: #f0f0f0;
	}
	.bottom-cover {
		position: absolute; bottom: auto; left: 100%; top: 0;  z-index: 99;
		width: 28px; height: 100%;
		background-color: #f0f0f0;
	}
	.inside {
		position: relative;
		height: 100%;
	}
	.progress-bg {
		width: 100%; height: 10px;
		background-color: #d8d8d8;
		position: absolute; top: 50%; left: 0px;
		margin-top : -5px;
		z-index: 1;
	}
	.progress-green {
		width: 0; height: 4px;
		background-color: #70af00;
		position: absolute; top: 50%; left: 20px;
		margin-top: -2px;
		z-index: 9;
		transition: all 2000ms linear;
	}
	.dot {
		position: absolute; top: 50%;
		width: 24px; height: 24px;
		background-color: #d8d8d8;
		border-radius: 100px;
		margin-top: -12px;
	}
	.dot-green {
		position: absolute; top: 50%;
		width: 14px; height: 14px;
		background-color: #70af00;
		border-radius: 100px;
		margin-top: -7px;
		z-index: 9;
		display: none;
	}
	.dot-1.dot-green { left: 65px; }
	.dot-1.dot-grey { left: 60px; }
	.dot-2.dot-green { left: 50%; margin-left: 5px; }
	.dot-2.dot-grey { left: 50%; }
	.dot-3.dot-green { left: 95%; margin-left: 5px; }
	.dot-3.dot-grey { left: 95%; }
	.dot-4.dot-green { right: 105px; }
	.dot-4.dot-grey { right: 100px; }
	.prize {
		position: absolute; top: 100%; left: -8px; z-index: 10;
		text-align: left;
		color: #939393;
		text-transform: uppercase;
		font-family: "Fjalla One", Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		width: 70px;
		background-color: #f0f0f0;
		padding: 10px 10px 10px 10px;
		transition: all 200ms ease;
	}
	.tweets {
		position: absolute; bottom: 100%; left: -8px; z-index: 10;
		text-align: left;
		color: #939393;
		text-transform: uppercase;
		font-family: "Fjalla One", Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		width: 70px;
		background-color: #f0f0f0;
		padding: 10px 10px 10px 10px;
		.label {
			font-family: GeForceLite, sans-serif;
			font-size: 10px;
			color: #a7a7a7;
			margin-bottom: 0px;
			line-height: 10px;
		}
		.number {
			font-family: GeForce, sans-serif;
			font-weight: bold;
			font-size: 15px;
			color: #000;
		}
	}
	.dot-green.showit {
		display: block;
		-webkit-animation-name: bounceIn;
		animation-name: bounceIn;
		-webkit-animation-duration: 800ms;
		animation-duration: 800ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.dot-grey.showit {
		.prize {
			color: #76b900;
		}
	}
}




/* Tablet
===================================================== */
@media (max-width:768px) {
	#prize-meter {
		.header {
			.intro {
				width:60%;
			}
		}
	}
}

@media (min-width: 768px) and (max-width:1024px) {
	#prize-meter {
		.header {
			.intro {
				width:70%;
			}
		}
	}
}



@media ( max-width: 1024px ) {
	#brackets .teambox-inside .photo .thumbnail { height: 250px; }

	#location {
		position: absolute;
	}

	#prize-meter {
		position: relative;
		padding: 0;
		width: 100%;
		height: auto;
		float:left;
		.header {
			background-color: #000;
			display: flex;
			align-items: baseline;
			padding: 0;
			justify-content: space-between;

			.intro {
				background-color: transparent;
				.line1 { display: none; }

			}

			.total {
				.number {
					font-size: 34px;
					line-height: 34px;
					display: inline-block;
					margin-right: 10px;
				}

				.icon {
					left: auto; bottom: auto; top: 2px; right: -15px;
					margin: 0;
					position: relative;
					display: inline-block;
				}
			}
		}

		.meter { display: none; }
		.meter-mobile { display: block; }
	}

	#brackets {
		padding: 0 20px;
		margin: 0;
		width: 100%;
		float: none;
		padding-bottom: 0;

		.brackets-title
		{
			text-align: center;
			position: relative;
			padding: 30px 0 0px 0;
			margin-bottom: 3px;
			clear: both;

			.title { font-size: 26px; }
			.line { position: relative; display: inline-block; width: 46px; height: 2px; }
		}

		.bracket-group .group-title { text-align: center; margin-bottom: 5px; }
		.bracket-group .match-entry { margin-bottom: 30px; }
		.bracket-group .match-entry .date { text-align: center; margin-bottom: 14px; }
	}

	#copyright
	{
		position: relative;
		width: 100%;
		text-align: center;
		padding: 20px 18px;
		bottom: auto;
		left: auto;
			a {
				color:#666667;
			}
	}

}

@media (  max-width: 1024px  ) and (orientation: portrait)
{
	#brackets .teambox-inside .photo .thumbnail { height: 150px; }
}




/* Mobile
===================================================== */

@media ( max-width: 767px ) {


	#prize-meter .header .total { margin-left: 0px; }

	#brackets { padding: 0; }
	#brackets .teambox-inside { min-height: 0px; }
	#brackets .teambox-inside .photo .thumbnail { display: none; }
	#brackets .teambox-inside .tweets { display: none; }

	#brackets .bracket-group .match-entry .versus { background-color: #000; color: #fff; }

	#brackets .teambox-inside .bottom .button { font-size: 10px; padding: 10px 5px; text-align: center; }
	#brackets .teambox-inside .bottom .button .icon { display: block; text-align: center; padding-bottom: 5px; }

	#brackets .teambox-inside .info .content { padding: 0; border: none; }
	#brackets .teambox-inside .info { padding: 20px; text-align: center; }
	#brackets .teambox-inside .info .logo { position: relative; display: inline-block; right: auto; left: auto; top: auto; padding: 0 !important; margin: 0; margin-bottom: 10px; height: 70px; }

	#brackets .teambox-inside .info .logo img { max-height: 60px !important; max-width: 80px !important; }

	#brackets .teambox-inside .info .number .icon { display: inline-block; }


	#brackets .team-lgd .teambox-inside .info .logo img { margin-top: 10px; margin-bottom: 10px; }
	#brackets .team-complexity .teambox-inside .info .logo { margin-top: 10px; margin-bottom: 0; }

	#brackets .teambox-inside .bottom .button .cheer { display: block; }


	#location .menu
	{
		position: fixed; top: 0; left: 0; width: 100%; height: 100%;
		margin-top: 0; border-radius: 0;
		background-color: rgba(0,0,0,0.8);
		padding-top: 60px;
	}

	#location .menu .option .flag { display: none; }

	#location .menu .option
	{
		padding: 16px;
		text-align: center;
		font-size: 20px;
		margin-bottom: 10px;
	}

	#location .menu .btn-close
	{
		display: block;
		position: absolute; top: 15px; left: 20px;
		color: #fff;
		font-family: GeForce, sans-serif;
		font-size: 25px;
		padding: 10px;
		line-height: 20px;
	}

}

/* Admin
===================================================== */

#admin
{
	background-color: #d8d8d8;
	color: #000;
	padding: 40px;

	a { text-decoration: underline;  }
	li { margin-bottom: 5px; }
}

/* Product CTA
===================================================== */
/* Mobile Product Call Out
===================================================== */
@media only screen and (max-width : 1024px) { 
				.graphics-card-callout-mobile {
					display:block;
					width:100%;
					background-color: black;
						.main-title {
							font-family: GeForce, sans-serif;
							color: #76b900;
							font-size: 28px;
							text-transform: uppercase;
							margin-top: 40px;
							text-align: center;	
						}
						.sub-title {
							color: #d2d2d2;
							font-size: 13px;
							max-width: 330px;
							width: 100%;
							text-align: center;
							padding-top: 10px;
							margin: 0 auto;
							padding-bottom: 54px;
							letter-spacing: 1px;
						}
						.product-info {
							width: 100%;
							border-top: solid 1px #4d4d4d;
							margin-top: -24px;
							border-bottom: solid 1px #4d4d4d;
							float: left;
							margin-bottom: 25px;
							padding: 0 10px 0 0;
							background-color:black;
							.product-column {
							 	width: 100%;
								float: left;
								text-align: center;
								background-image: url(../img/graphicscard.png);
								background-size: 189px;
								background-position: right;
								background-repeat: no-repeat;
								ul {
									text-align: left;
									padding-left: 20px;
									list-style-type: none;
									li {
										padding:15px 0;
										.product-name {
											color: #d2d2d2;
											font-size: 11px;
											padding-bottom: 3px;	
										}
										.learn {
											color:#66a000;	
										}
									}
								}
							}
							
						}
					}
} /* END MEDIA QUERY

/* Tablet Product Call Out
===================================================== */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
					.graphics-card-callout-mobile {
					display:block;
					width:100%;
					background-color: black;
						.main-title {
							font-family: GeForce, sans-serif;
							color: #76b900;
							font-size: 28px;
							text-transform: uppercase;
							margin-top: 40px;
							text-align: center;	
						}
						.sub-title {
							color: #d2d2d2;
							font-size: 13px;
							max-width: 330px;
							width: 100%;
							text-align: center;
							padding-top: 10px;
							margin: 0 auto;
							padding-bottom: 54px;
							letter-spacing: 1px;
						}
						.product-info {
							width: 100%;
							border-top: solid 1px #4d4d4d;
							margin-top: -24px;
							border-bottom: solid 1px #4d4d4d;
							float: left;
							margin-bottom: 25px;
							padding: 0 150px 0 150px;
							background-color:black;
							.product-column {
							 	width: 100%;
								float: left;
								text-align: center;
								background-image: url(../img/graphicscard.png);
								background-size: 189px;
								background-position: right;
								background-repeat: no-repeat;
								ul {
									text-align: left;
									padding-left: 20px;
									list-style-type: none;
									li {
										padding:15px 0;
										.product-name {
											color: #d2d2d2;
											font-size: 11px;
											padding-bottom: 3px;	
										}
										.learn {
											color:#66a000;	
										}
									}
								}
							}
							
						}
					}

} /* END MEDIA QUERY */

.graphics-card-callout {
	display: none;
}

@media (min-width:1024px) {
	.graphics-card-callout {
            			display:block;
						width:100%;
						float:left;
						position: relative;
						.main-title {
							font-family: GeForce, sans-serif;
							color: #76b900;
							font-size: 44px;
							text-transform: uppercase;
							margin-top: 60px;
							text-align:center;
							letter-spacing: -2px;	
						}
						.sub-title {
							color: #d2d2d2;
							max-width: 330px;
							width: 100%;
							text-align: center;
							padding-top: 10px;
							font-size: 15px;
							margin: 0 auto;
							letter-spacing: 1px;
							font-weight: bold;
						}
						.product-info {
							width: calc(100% - 60px);
							border-top: solid 1px #4d4d4d;
							border-bottom: solid 1px #4d4d4d;
							float: left;
							margin: 18px 40px 130px 35px;
							.product-column {
							 	width: 100%;
    							float: left;
								text-align: center;
								background-image: url(../img/graphicscard.png);
								background-size: 220px;
								background-position: right;
								background-repeat: no-repeat;
								ul {
									text-align: left;
    								list-style-type: none;	
									padding: 0 20px;
									li {
										padding:15px 0;
										.product-name {
											color: #d2d2d2;
											font-size: 13px;
											padding-bottom: 3px;	
										}
										.learn {
											color:#66a000;	
										}
									}
								}
							}
							.product-image {
								width: 50%;
								float: left;
								margin-top: 54px;
								img {
									width: 260px;
    								max-width: 100%;	
								}
							}
						}
					}
				}




@media (min-width: 565px) and (max-width: 1024px) {
	#prize-meter .header .total .number { position: absolute; right: 100px; }
}


/*** LANDSCAPE MODE ****/






@media screen
	and (min-width:800px)
	and (max-width:1024px) {
		.mobile-bg-cover {
			margin-top: 0px;
		}
}

/* Nexus 10 Tablet */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
	  .holder {
		  padding: 150px 4% !important;
	  }
	  .mobile-bg-cover {
			margin-top: 0px;
		}
}



#brackets .teambox-inside .bottom .button .icon {
	top: 2px;
}